    <!DOCTYPE html>
    <html>
    <head>
    {# sur ma base dans le body le block main me permettra de rappeler les elements de mes autres pages  #}
    <meta charset="UTF-8">
    <title>{% block title %}mes articles{% endblock %}</title>

    </head>
    <body>
    {% block main %}{% endblock main%}

    </body>
    </html>
