    {% extends 'base.html.twig' %}

    {% block title %}
    mes category
    {% endblock %}

    {% block main %}
    <h1>Mes  categories</h1>
    {# je rappel le contenu de mes categories j'affiche un titre avec une couleur#}
    {% for category in category %}

    <h1>{{ category.title }}</h1>
    <h2 style="color: {{ category.color }}"></h2>
    <h4>{{ category.color }}</h4>
    {% endfor %}

    {% endblock %}